
 body.sign-in-body{

	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

.loginbox {
    width: 500px;
    height: 300px;
    float: right;
    position: absolute;
    left: 35%;
    top: 20%;
    /*bottom: 50px;
    right: 50px;*/
    background-color: rgba(61, 58, 58, 0.5);
}

.loginbox h2 {
    text-align: center;
    font-weight: normal;
    padding: 0 5px;
    line-height: 40px;
    margin: auto;
    background: none;
    border-bottom: none;
    /*color: #424244;*/
    color: #FFF;
    font-family: Minion Pro Regular;
    text-transform: uppercase;
    font-size: 30px;
    margin: 10px auto 0;
}

.loginbox .subcontent {
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
}


input[type="text"], input[type="password"] {
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

.loginbox .loginform {
    margin-top: 0;
}
.loginbox .loginform .form-label {
    display: none;
}
.loginbox .loginform .form-input {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.loginbox .loginform .form-input input[type="text"],input[type="password"] {
    width: 100%;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    min-height: 36px;
}

.loginbox #loginbtn {
    width: 100%;
    min-height: 40px;
    margin-top: 10px;
    font-size: 18px;
    font-family: Minion Pro Regular;
    color: #FFF;
}


input[type=submit], input[type=submit]:hover {
    background-color: #A30D1D;
    border: 1px solid #A30D1D;
}
